:root {
    --darkwhite: #f0f8ffdd;
}

body {
    background-size: cover;
}

@font-face {
   font-family: printshop;
   src: url(OTFs/Batuu Printshop.otf);
}

@font-face {
    font-family: 'printshop'; /*a name to be used later*/
    src: url('/TTFs/SWBatuuPrintshop.ttf'); /*URL to font*/
}



#details {
    font-family: 'Times New Roman';
    background-color: var(--darkwhite);
    margin: auto;
    padding: 30px;
    max-width: 50%;
    align: center;
    /* border-radius: 5px; */
    text-align: left;
}

h3 {
    font-family: 'printshop';

}

h2 {
    font-family: 'printshop';

}
