:root {
    --darkwhite: #f0f8ffdd;
}

body {
    background-size: cover;
}

@font-face {
   font-family: printshop;
   src: url(OTFs/Batuu Printshop.otf);
}

* {
   font-family: printshop;
}




#details h3 {
    font-family: 'printshop'

}

#details h2 {
    font-family: 'printshop'

}
